<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <h1>Welcome!👋</h1>
      <h2>What brings you here?</h2>
      <div class="link">
        <a href="/about">I want to get to know more about the company!</a>
      </div>
      <div class="link">
        <a href="/works">I want to see the company's works!</a>
      </div>
    </header>
  </body>
</html>
