<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style-works.css" />
    <title>Works</title>
  </head>
  <body>
    <h1>Well, since it's an imaginary company,</h1>
    <p>
      and everything is just a simulation...<br />
      Nothing to see here! That is, <br />
      of course, if you're not fond of cats!
    </p>
    <div>
        <div>
    <img class="image" src="/images/kitte.gif" height="640px" width="640px">
    <img class="image"  src="/images/cute-cat-oh-yeah.gif">
</div>
  </body>
</html>
